<div class="container">
  <div class="row" style="margin-top: 40px;">
    <div class="col-sm-10"><h3>Danh sách nhân viên</h3></div>
    <div class="col-sm-2">
      <button (click)="themNhanVien()">Add</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">Prioritize</div>
    <div class="col-sm-3">Name</div>
    <div class="col-sm-2">Check In</div>
    <div class="col-sm-2">Turn</div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">Time Check In</div>
  </div>
  <div *ngFor="let nhanVien of nhanViens" class="row">
    <div class="col-sm-1">{{nhanVien.prioritize == 0 ? '-' : nhanVien.prioritize}}</div>
    <div class="col-sm-3">{{nhanVien.name}}</div>
    <div class="col-sm-2" (click) = "checkInNhanVien(nhanVien.id)">{{nhanVien.checkIn}}</div>
    <div class="col-sm-2">{{nhanVien.turn}}</div>
    <div class="col-sm-1">
      <div class="row">
        <div class="col"><button type="button" class="btn btn-link" (click) = "changeTurn(nhanVien.id,'add')">+</button></div>
        <div class="col"><button type="button" class="btn btn-link" (click) = "changeTurn(nhanVien.id, 'delete')">-</button></div>
      </div>
    </div>
    <div class="col-sm-3">{{nhanVien.timecheckIn !== 0 ? (nhanVien.timecheckIn | date: 'medium') : 0}}</div>
  </div>
  <h5 *ngIf="isNhanVienChon">Gợi ý của chúng tôi là: {{nhanVienChon.name}}</h5>
  <div class="row" style="margin-top: 100px">
    <div class="col-sm-10"><h3 >Danh sách khách hàng</h3></div>
    <div class="col-sm-2">
      <button (click)="themKhachHang()">Add</button>
      <button (click)="goiy()">Xem gợi ý</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">Name</div>
  </div>
  <div *ngFor="let khachHang of khachHangs" class="row">
    <div class="col-sm">{{khachHang.name}}</div>
  </div>
  <h5 *ngIf="isAddKh">Chua co nhan vien check in</h5>
</div>
